<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">
 	
 	
	<resultMap id="productSelectMap" type="product">
		<result property="prodNo" 			column="prod_no" 			jdbcType="NUMERIC"/>
		<result property="prodName"			column="prod_name" 			jdbcType="VARCHAR" />
		<result property="prodDetail" 		column="prod_detail" 		jdbcType="VARCHAR" />
		<result property="manuDate" 		column="manufacture_day" 	jdbcType="VARCHAR" />
		<result property="price" 			column="price" 				jdbcType="NUMERIC" />
		<result property="fileName" 		column="image_file" 		jdbcType="VARCHAR" />
		<result property="regDate" 			column="reg_date" 			jdbcType="DATE" />
		<result property="proTranCode" 		column="prod_status_code" 	jdbcType="CHAR" />
		
		<association property="prodCategory"  javaType="category">
			<id property="categoryNo" column="category_no" jdbcType="NUMERIC"/>
			<result property="categoryName" column="category_name" jdbcType="VARCHAR"/>			
		</association>
	</resultMap>
	
	<resultMap type="category" id="categorySelectMap">
		<result property="categoryNo" 			column="category_no" 			jdbcType="NUMERIC" />
		<result property="categoryName"			column="category_name" 			jdbcType="VARCHAR" />
		<result property="categoryLevel" 		column="category_level" 		jdbcType="NUMERIC" />
		<result property="categoryPrevLevel" 	column="category_prev_level" 	jdbcType="NUMERIC" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addProduct"		parameterType="product" >
	 	INSERT
		INTO product( prod_no, prod_name, prod_detail, manufacture_day, price, image_file, reg_date, category_no) 
		VALUES	 	( seq_product_prod_no.NEXTVAL, #{prodName}, #{prodDetail:VARCHAR}, #{manuDate:VARCHAR}, 
					  #{price:NUMERIC}, #{fileName:VARCHAR} , SYSDATE, #{prodCategory.categoryNo} )
	</insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getProduct"		parameterType="int"		resultMap="productSelectMap">
		SELECT
		p.*, NVL(t.tran_status_code,'001') prod_status_code 		
		FROM product p, transaction t 
		WHERE p.prod_no = t.prod_no(+) 
		      AND p.prod_no = #{value}
	 </select>
	 
	 <!-- SQL : UPDATE -->
	<update	id="updateProduct"	parameterType="product" >
	   	UPDATE product
	   	<set>
	   		prod_name 	= #{prodName} ,
			prod_detail	= #{prodDetail:VARCHAR},
			manufacture_day	= #{manuDate:VARCHAR} ,
			price		= <if test="price==0">null</if>
						  <if test="price!=0">#{price}</if>,
			image_file  = #{fileName:VARCHAR},
			category_no = #{prodCategory.categoryNo}
	   	</set>
	   	WHERE prod_no = #{prodNo}
	 </update>
			 
	<!-- SQL : SELECT LIST -->
	<select  id="getProductList"  parameterType="map"	resultMap="productSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  			FROM		(	SELECT p.prod_no, p.prod_name, p.price, p.reg_date, NVL(t.tran_status_code,'001') prod_status_code
								FROM product p, transaction t
								<where>
									p.prod_no = t.prod_no(+)
									<if test="searchCondition != null">
									<!-- <if test="searchCondition == 0 and searchKeyword !='' ">
							 				AND p.prod_no = #{searchKeyword}
										</if> -->
										<if test="searchCondition == 1 and searchKeyword !='' ">
							 				AND p.prod_name LIKE '%'||#{searchKeyword}||'%'
										</if>										
									<!-- <if test="searchCondition == 2 and searchKeyword !='' ">
							 				AND p.prod_name LIKE '%'||#{searchKeyword}||'%'
										</if> -->																							
									</if>
									<if test="categoryNo != 0">
										AND p.category_no = #{categoryNo}
									</if>
								</where>
						ORDER BY prod_no DESC ) inner_table
				WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 		
	<!-- SQL : SELECT ROW Count -->	 
	<select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT prod_no, prod_name , price, reg_date
						FROM product						
							<where>
								<if test="searchCondition != null">
								<!-- <if test="searchCondition == 0 and searchKeyword !='' ">
							 			prod_no = #{searchKeyword}
									</if> -->
									<if test="searchCondition == 1 and searchKeyword !='' ">
							 			prod_name LIKE '%'||#{searchKeyword}||'%'
									</if>
								</if>
								<if test="category.categoryNo != 0">
										AND category_no = #{category.categoryNo}
								</if>
							</where>
						 ) countTable						
	 </select> 
	 
	 <!-- SQL : SELECT LIST -->
	<select  id="getProductNameList" parameterType="String"	resultType="String">
		SELECT prod_name
		FROM product
		<!-- --> 
		<where>
			<if test="value != null and value != ''">
				prod_name like '%'||#{value}||'%'
			</if>
		</where>
	</select>
	
	<!-- SQL : SELECT LIST -->
	<select  id="getCategory"	resultMap="categorySelectMap">
		SELECT category_no, category_name 
		FROM category
	</select>
	
</mapper>